@import url('https://fonts.googleapis.com/css2?family=Fredoka:wght@300..700&display=swap');

*{
    margin:0;
    padding: 0;
    font-family: "Fredoka", sans-serif;
    font-stretch:semi-condensed;
    font-size: 95%;
    color: #181226;
}

footer{
    background-color:#D157F2;
    text-align: center;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
}

.pyear{
    margin-bottom: 0.5%;
}

.pdeveloper{
    margin-top: 0.5%;
}

.plabo{
    margin: 0.5%;
}

