

*{
    margin:0;
    padding: 0;
    font-family: "Fredoka", sans-serif;
    font-stretch:semi-condensed;
    font-size: 95%;
    color: #181226;
}

ul{
  display: flex;
  list-style-type: none;
  background-color:#D157F2;
  width: 100%;
  height: auto;
  text-align: center;
  justify-content: center;
  flex-direction: column;
  flex-wrap: nowrap;
}

.year{
    margin-bottom: 0.5%;
}

.developer{
    margin-top: 1%;
}

.labo{
    margin: 0.2%;
}

